{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<div class="container">
      <div class="row">
        {% for service in all_services %}   
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="{{service.service_image.url}}" width="400" height="300">
              <h5 class="card-title">{{service.title}}</h5>
              <p class="card-text">{{service.description}}</p>
              <a href="{%url 'single_service' service.id%}" class="btn btn-primary">View service details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>

{% endblock %}