
{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<div class="container">
      <div class="row">
        {% for one in users %}   
        <div class="col-sm-4">
            <div class="card-body">
              <a href="{%url 'single_user' one.id%}">
                <img class="card-img-top" src="{{one.profile_picture.url}}" width="400" height="300">
              </a>
              <h5 class="card-title">{{one.names}}, {{one.title}}</h5>
            </div>
        </div>
        {% endfor %}
      </div>
      <footer></footer>
</div>

{% endblock %}